[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "censoredAIDS"]
	path = censoredAIDS
	url = https://github.com/noejn2/censoredaids
[submodule "gravityGE"]
	path = gravityGE
	url = https://github.com/cran/gravityGE
